<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">MicroProject #0</div>
<span style="">Introduction to Python </span>

</h1>

<hr style="color: #DD3403;">

This is the first of 5 Microprojects you would attempt during your internship. The main purpose of this Microproject is to get you familiar with how Python operates and how to run the code you write. 

# Welcome to a Jupyter Notebook!

You are in your very first Jupyter Notebook! Notebooks allow us to combine text (like you're reading now) with Python code.  Your Microprojects will be very similar to this notebook. 


In this Introduction Microproject, you will:

- Explore how to navigate and use Jupyter notebooks 
- Write a few basic Python commands
- Learn how to upload your assignment to GitHub using git

# 1. Jupyter Notebooks


## Types of Cells

Jupyter notebooks are organized into rectangular **cells**.  Every **cell** will either be one of either:

1. A **Markdown cell**, which contains text instructions (like the cell you are reading now).  **Markdown cells** will have formatted text and will have a white background.
2. A **Python cell**, which contains Python code.  **Python cells** (which you will see shortly) will have a gray background and colored text.

## Editing Cells

Every cell can be edited by **double clicking on the cell**.

- Double click on this cell right now!
- Edit the end of this line and add your name:

Once you are finishing editing:

- Press **CTRL + ENTER** to exit editing and "run" the cell.
- Press **SHIFT + ENTER** to exit editing, "run" the cell, AND advance to the next cell.
- (You can also press \[▶| Run\] at the top of the notebook to exit editing (same as SHIFT+ENTER))

"Running" a Markdown cell will save it and make it part of your notebook.

## Python Cells

Python cells are cells that contain Python code -- the programming language you will mainly use for this internship.  When you "run" a Python cell, you will run your snippet of code!

Python is a programming language that was designed to be easy and simple to use, and notebooks make it even easier to use.  The most basic operations that a computer can do are simple math.

The next cell is your first Python cell, where the computer is asked to compute `5 + 4`:

In [3]:
5 + 4

9

Notice above that there are two components to a single Python cell:

- **In \[#\]:**, which shows the Python code you wrote (ex: `5 + 4` above)
- **Out \[#\]:**, which shows the output from the Python (ex: `9` above, the answer)

### Puzzle 1.1:

In the next cell, use Python to compute the sum of `4` and `11`.

- Remember to double click to edit the cell.
- Also remember that you can use **SHIFT + ENTER** to exit and run the cell.

In [2]:
4 + 11

15

### Puzzle 1.2:

In the next cell, use Python to compute the product of the numbers `4` and `5`.
- Hint: In Python, the `*` symbol used for multiplication.

In [3]:
4*5

20

### Puzzle 1.3:

In addition to addition (`+`), subtraction (`-`), multiplication (`*`), and division (`/`), Python can also raise a number to a power (ex: $2^4$).  The syntax to do this in Python is to use `**`.

For example, the Python code for $2^4$ is:

In [5]:
2 ** 4

16

Using everything you know, use the following cell to compute the value of $(3 + 5) * 9^2$

In [6]:
(3 + 5) * 9**2

648

# 2. Print Statements in Python

In all of the previous puzzles, the text in the **Out\[#\]** was the result of your Python code.  In a notebook, the notebook will always **automatically print out the result of the last line of Python code**.

Because ONLY the last line is automatically printed, what do you expect to happen when the following code is run?

Type your answer here: 6

In [7]:
1 + 1
2 + 2
3 + 3

6

## Using the print() function

If you want to print out things that is NOT the result of the last line, Python has a **function** called `print(...)` that will output everything between `(` and `)`.  For example, the same example with `print()`:

In [8]:
print( 1 + 1 )
print( 2 + 2 )
print( 3 + 3 )

2
4
6

### Using Strings

In Python, we often want to print out more than just numbers.  If you want to print words out, Python requires that **strings** are in quotes.  One of the most simple programs is a program that prints `"Hello World"` (notice the quotes)!

The following `print()` command does exactly that:

In [7]:
print("Hello World")

Hello World

Notice that the quotes **do not appear in the output**.  Instead, Python uses the quotes to know that the contents inside of the quotes are a  **string**.

If you forget to add the quotes, Python will provide an error message (often known as invalid syntax):

In [9]:
print("Hello World")

Hello World

Errors happen all the time, don't worry if you make a mistake and forget a syntax. Python will try its best to however give you a suggestion to fix that mistake.

### Puzzle 2.1:

Using the `print()` function, print your name in the output of the next cell:

In [10]:
print('Andrew Liang')

Andrew Liang

### Puzzle 2.2:

Using the `print()` function, print the **result** of the following three things on separate lines:
- $(4 * 3)^2$
- Project: VISION
- $8 - 3$

In [11]:
print((4*3)**2)
print("Project: VISION")
print(8-3)

144
Project: VISION
5

# 3. Names in Python
*This section has been adopted from Berkeley's Data8: Lab \#1 from Spring 2017*

In natural language, we have terminology that lets us quickly reference very complicated concepts. We don't say, "That's a large slow mammal with brown fur and three toes!" Instead, we just say, "SLOTH!"

Similarly, an effective strategy for writing code is to define names for data as we compute it, like a lawyer would define terms for complex ideas at the start of a legal document to simplify the rest of the writing.

In Python, we do this with assignment statements. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [ ]:
ten = 3 + 2 + 5

When you run that cell, Python first evaluates the first line. It computes the value of the expression `3 * 2 + 4`, which is the number 10. Then it gives that value the name `ten`. At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [ ]:
ten

10

The statement `ten = 3 * 2 + 4` is not asserting that ten is already equal to `3 * 2 + 4`, as we might expect by analogy with math notation. Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

### Question 3.1.

Try writing code that uses a name (like `eleven`) that hasn't been assigned to anything.

* You should see an **ERROR** -- this is expected.

In [ ]:
eleven = 11

NameError: name 'eleven' is not defined

### Question 3.2.

Now, define the value of the name that gave you an error:

In [ ]:
eleven = 10 + 1

### Question 3.3.

Finally, try using that name again:

In [ ]:
eleven

11

## Common Patterns with Names:

A common pattern in Jupyter notebooks is to assign a value to a name and then immediately evaluate the name in the last line in the cell so that the value is displayed as output:

In [ ]:
close_to_pi = 355/113
close_to_pi

3.1415929203539825

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

In [ ]:
paycheck = 840
monthly_salary = 2 * paycheck
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

20160

Names in Python can have letters (upper- and lower-case letters are both okay and count as different letters), underscores, and numbers. The first character can't be a number (otherwise a name might look like a number). And names can't contain spaces, since spaces are used to separate pieces of code from each other.

Other than those rules, what you name something doesn't matter to Python. For example, this cell does the same thing as the above cell, except everything has a different name:

In [ ]:
a = 840
b = 2 * a
c = 12
d = c * b
d

20160

**However**, names are very important for making your code readable to yourself and others. The cell above is shorter, but it's totally useless without an explanation of what it does. Food for though, would you rather have the first code snippet or the most recent one?

### Puzzle 3.4:

Assign the name `seconds_in_a_decade` to the number of seconds between midnight January 1, 2010 and midnight January 1, 2020.

- You will want to think about how this is computed before you start writing code.  Pencil and paper works great!
- Any line of code in Python that begins with an `#` is a comment and is ignored by Python.  We have added some comments to help you out here.

In [12]:
# Change the next line so that it computes the number of
# seconds in a decade and assigns that number the name
# seconds_in_a_decade.
#
# (You may want to add other names to help you calculate
# this value.)
seconds_in_a_minute=60
seconds_in_a_hour = seconds_in_a_minute * 60
seconds_in_a_day = seconds_in_a_hour * 24
seconds_in_a_year = seconds_in_a_day * 365
seconds_in_a_decade = seconds_in_a_year * 10
## not including leap years

# I've put this line in this cell so that it will print
# the value you've given to seconds_in_a_decade when you
# run it.  You don't need to change this.
seconds_in_a_decade

315360000

## Publish you work to your GitHub

1.  ⚠️ **Make sure to save your work.** ⚠️ To do this, go to **File => Save All** or press **Crtl + S** on your keyboard. 
2.  After you have saved, exit this notebook and locate this file in your working folder. Move this file to your cloned GitHub repository folder which should be inside of the folder you created with your First and Last name. 
3. Open your terminal and change your directory to your cloned GitHub Repository and type in these commands:

4. git add -A
5. git commit -m "Any message here"
6. git push